.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  margin: 15px; 
}
/* =======================  HOME PAGE ============================= */


.fokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 20px;
}

.fokemon-tile {
  display: flex;
  background-color: azure;
  align-items: center;
  justify-content: space-between;
  outline: solid black 1px;
  border: solid transparent 2px;
  padding: 0 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.fokemon-tile:hover {
  outline-color: transparent;
  border-color: blue;
}
.sprite {
  display:inline-block;
  max-height:50px;
}