html {
  background-color: mintcream;
}

.page {
  margin: 15px; 
}
/* =======================  HOME PAGE ============================= */
#title-img {
  display: block;
  max-height: 150px;
  margin: 0 auto;
}
.fokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 20px;
}

.sprite {
  display:inline-block;
  max-height:50px;
}

.fokemon-tile {
  position: relative;
  display: flex;
  background-color: lightcyan;
  align-items: center;
  justify-content: space-between;
  outline: solid black 1px;
  border: solid transparent 2px;
  padding: 0 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.fokemon-tile:hover {
  outline-color: transparent;
  border-color: blue;
}

.fokemon-tile:hover .fa {
  visibility: visible;
}

.fa-heart {
  visibility:hidden;
  position: absolute;
  top: 0;
  right: 0;
  color: tomato;
  font-size: 1.15em;
  transition: color 0.4s;
}

.fa-heart:hover {
  color:red;
}

.fa-times {
  visibility:hidden;
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  font-size: 1.15em;
  transition: color 0.4s;
}

.fa-times:hover {
  color:red;
}