html {
  background-color: mintcream;
  margin: 0;
  padding: 0;
}

.page {
  margin: 50px 15px 30px 15px; 
}

/* ============== NAVBAR COMPONENT =========== */
header {
  padding-left: 5px;
  position:fixed;
  top: 0;
  z-index: 3;
  width: 100vw;
  background-color: powderblue;
  border-bottom: solid black 1px;
}
  
nav {
  margin-right: 2em;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-img {
  max-height: 2.3em; 
}

#navbar-link-container a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  color: black;
  transition: all 0.4s
}

#navbar-link-container a:hover {
  color: blue;
}

/* =============== LOADING COMPONENT ========== */
.loading-image {
  display: block;
  margin: auto;
  max-height: 175px;
}

.loading-text {
  font-size: 1.3em;
  text-align: center;
  animation-duration: 1.75s;
  animation-name: blinking;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes blinking {
  0%{
     opacity:100%;
  }

  50%{
     opacity:20%;
  }

  100%{
    opacity: 100%;
  }
}
/* =======================  HOME PAGE ============================= */
#title-img {
  display: block;
  max-height: 150px;
  margin: 0 auto;
}
.fokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 20px;
}

.sprite {
  display:inline-block;
  max-height:50px;
}

.fokemon-tile {
  position: relative;
  display: flex;
  background-color: lightcyan;
  align-items: center;
  justify-content: space-between;
  outline: solid black 1px;
  border: solid transparent 2px;
  padding: 0 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.fokemon-tile:hover {
  outline-color: transparent;
  border-color: blue;
}

.fokemon-tile:hover .fa {
  visibility: visible;
}

.fa-heart {
  visibility:hidden;
  position: absolute;
  top: 0;
  right: 0;
  color: tomato;
  font-size: 1.15em;
  transition: color 0.4s;
}

.fa-heart:hover {
  color:red;
}

.fa-times {
  visibility:hidden;
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  font-size: 1.15em;
  transition: color 0.4s;
}

.fa-times:hover {
  color:red;
}

/* ============ FOKEMON DETAIL PAGE ============= */
#fokemon-detail-page {
  min-height: 100vh;
}

.loading-container {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height:100vh;
}

#fokemon-detail {
  display: flex;
  justify-content: space-between;
}

#fokemon-main-image {
  padding: 1em;
  max-height: 180px;
  border: solid black 2px;
}

.return-link {
  text-align:center;
  margin: auto;
}

/* ========= NOTFOUND PAGE =========== */
#not-found-page {
  display: flex;
  flex-direction: column;
  align-items:center;
}

#not-found-page h2 {
  color: red;
  font-size: 2.5em;
}

#not-found-page img {
  height: 300px;
  width: 300px;
}

#not-found-page p {
  font-size: 1.5em;
}